{% extends "layout.html" %}
{% block content %}
<div class="card bg-white">
    <div class="card-body p-5">
        <form action="{{url_for('new_message')}}" method="post" class="mb-3 mt-md-4">
            <div class="mb-3">
                <label for="message" class="form-label">Uusi viesti</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Kirjoita viestisi tähän" id="message" name="message"
                    style="height: 100px"></textarea>
                <label for="message">Viesti</label>
            </div>
            <br />
            <div class="d-grid col-2">
                <button class="btn btn-outline-dark" type="submit">Lisää viesti</button>
            </div>
            <input type="hidden" id="thread_id" name="thread_id" value={{thread_id}} />
            <input type="hidden" id="topic_id" name="topic_id" value={{topic_id}} />
        </form>
    </div>
</div>
<br />
<div class="card bg-white">
    <div class="card-body p-5">
        {% for message in messages %}
        <div class="row mb-3">
            <div class="col-md-2 bg-light">
                {{ current_user.username}}
            </div>
            <div class="col-md-10 bg-light">
                {{message.content}}
            </div>
        </div>
        {% endfor %}
        <br />
        <div class="d-grid col-2">
            <a class="btn btn-sm btn-outline-dark" href="{{ url_for('thread', topic=topic_id) }}" role="button">&lt;&lt;
                viestiketjut</a>
        </div>
    </div>
</div>
{% endblock %}