{% extends "layout.html" %}
{% block content %}
<div class="card bg-white">
    <div class="card-body p-5">
        <form action="{{url_for('topic')}}" method="post" class="mb-3 mt-md-4">
            <div class="mb-3">
                <label for="thread" class="form-label">Lisää uusi viestiketju</label>
                <input type="text" class="form-control" id="thread" name="thread">
            </div>
            <br />
            <div class="d-grid col-2">
                <button class="btn btn-outline-dark" type="submit">Lisää</button>
            </div>
        </form>
    </div>
</div>

<div class="card bg-white">
    <div class="card-body p-5">
        <div class="row mb-3">
            <div class="col-md-8 bg-light">
                Aihe
            </div>
            <div class="col-md-2 bg-light">
                Vastauksia / Katsottu
            </div>
            <div class="col-md-2 bg-light">
                Viimeisin viesti
            </div>
        </div>
    </div>
</div>
{% endblock %}