{% extends "layout.html" %}
{% block content %}
<div class="card bg-white">
    <div class="card-body p-5">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form action="{{url_for('new_thread')}}" method="post" class="mb-3 mt-md-4">
            <div class="mb-3">
                <label for="thread" class="form-label">Uusi viestiketju</label>
                <input type="text" class="form-control" id="thread" name="thread">
            </div>
            <br />
            <div class="d-grid col-2">
                <button class="btn btn-outline-dark" type="submit">Lisää viestiketju</button>
            </div>
            <br />
            <div class="form-floating">
                <textarea class="form-control" placeholder="Kirjoita viestisi tähän" id="message" name="message"
                    style="height: 100px"></textarea>
                <label for="message">Viesti</label>
            </div>
            <input type="hidden" id="topic_id" name="topic_id" value={{topic_id}} />
        </form>
    </div>
</div>
<br />
{% if threads|length > 0 %}
<div class="card bg-white">
    <div class="card-body p-5">
        <thead>
            <div class="row mb-3">
                <div class="col-md-8 bg-light">Viestiketju</div>
                <div class="col-md-2 bg-light">Viestien määrä</div>
                <div class="col-md-2 bg-light">Viimeisin viesti</div>
            </div>
        </thead>
        {% for thread in threads %}
        <div class="row mb-3">
            <div class="col-md-8 bg-light">
                <a href="{{url_for('message',thread_id=thread.id, topic_id=topic_id)}}" class="text-secondary">{{
                    thread.title }}</a>
            </div>
            <div class="col-md-2 bg-light">
                {{thread.thread_count}} kpl
            </div>
            <div class="col-md-2 bg-light">
                {% if thread.latest_msg != None %}
                {{ thread.latest_msg.strftime("%d.%m.%Y %H:%M") }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <br />
        <div class="d-grid col-1">
            <a class="btn btn-sm btn-outline-dark" href="{{url_for('topic')}}" role="button">&lt;&lt; forum</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}