{% extends "layout.html" %}
{% block content %}
{% if current_user.is_admin %}
<div class="card bg-white">
    <div class="card-body p-5">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form action="{{url_for('topic')}}" method="post" class="mb-3 mt-md-4">
            <div class="mb-3">
                <label for="topic" class="form-label">Lisää uusi keskustelualue</label>
                <input type="text" class="form-control" id="topic" name="topic">
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="restricted" name="restricted">
                <label class="form-check-label" for="restricted">Rajattu pääsy</label>
            </div>
            <br />
            <div class="d-grid col-2">
                <button class="btn btn-outline-dark" type="submit">Lisää</button>
            </div>
        </form>
    </div>
</div>
{% endif %}

<br />
{% if topics|length > 0 %}
<div class="card bg-white">
    <div class="card-body p-5">
        <thead>
            <div class="row mb-3">
                <div class="col-md-6 bg-light">Aihealue</div>
                <div class="col-md-2 bg-light">Viestiketjuja</div>
                <div class="col-md-2 bg-light">Viestejä</div>
                <div class="col-md-2 bg-light">Viimeisin viesti</div>
            </div>
        </thead>
        {% for topic in topics %}
        <div class="row mb-3">
            <div class="col-md-6 bg-light">
                <a href="{{url_for('thread',topic=topic.id)}}" class="text-secondary">{{ topic.topic_name }}</a>
            </div>
            <div class="col-md-2 bg-light">
                {{ topic.thread_count }} kpl
            </div>
            <div class="col-md-2 bg-light">
                {{ topic.message_count }} kpl
            </div>
            <div class="col-md-2 bg-light">
                {% if topic.latest_msg %}
                {{ topic.latest_msg.strftime("%d.%m.%Y %H:%M") }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}